
@{
    ViewBag.Title = "CamKet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cam kết</h2>

<div class="blog_post_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="breadcrumb-single blog_top_area">
                    <ul id="breadcrumbs">
                        <li><a href="https://localhost:44354/Home/Index"><i class="fa fa-home"></i>Trang chủ</a></li>
                        <li><span>Ι</span></li>
                        <li>Cam kết hài lòng</li>
                    </ul>
                </div>
                <div class="blog_details_area">
                    <div class="blog_info_details">
                        <div class="cms_topic mt_10">
                            <h1>Đặt Sách</h1>
                            <p>  Shirwi với phong cách chuyên nghiệp và tận tâm với khách hàng :</p>
                            <p>- Chúng tôi có thể hổ trợ giúp quý khách chọn sách phù hợp cũng như quà tặng kèm.</p>
                            <p>- Miễn phí thiệp chúc mừng/ Banner đính kèm sản phẩm.</p>
                            <p>- Vận chuyển miễn phí trong nội thành TP. HCM và TP. Hà Nội đối với những đơn hàng có giá trị từ 800.000VNĐ trở lên.</p>
                            <p>- Quý khách hãy đăng ký thành viên và thực hiện mua hàng Online sẽ được giảm 20.000VNĐ/ 1 đơn hàng so với mức giá niêm yết!<br /><br />-Dịch vụ toàn quốc của <a href="https://localhost:44354/Home/Index">www.Shirwi.com </a>sẽ thay mặt quý khách gửi sách và quà tặng đi 64 tỉnh thành nhanh chóng, uy tín và chuyên nghiệp.</p>
                            <p>- Chúng tôi luôn có chính sách ưu đãi cho các công ty đặt sách thường xuyên hay với số lượng lớn . Hãy liên hệ Hotline tư vấn : 01234569301 - 0919101442 của Shirwi hoặc gửi thông tin về Email :  Shirwi@gmail.com.</p>
                            <p>- Giá sách trên là giá ngày "Thường" ( Giá sẽ giảm khoảng 10 - 20% vào các ngày lễ lớn trong năm để phục vụ khách hàng) và chưa bao gồm phí vận chuyển & thuế VAT. </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="blog_right_sidebar">

                    <div class="add_r_sidebar">
                        <p class="banner_block"><a href="#"><img alt="" src="~/Content/images/6.png"></a></p>
                    </div>
                    <div class="add_r_sidebar">
                        <p class="banner_block"><a href="#"><img alt="" src="~/Content/images/6.png"></a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>