
@{
    ViewBag.Title = "DoiNgu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đội ngũ</h2>


<!--Start breadcrumbs area -->
<div class="breadcrumbs-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb-single blog_top_area">
                    <ul id="breadcrumbs">
                        <li><a href=""><i class="fa fa-home"></i>Trang chủ</a></li>
                        <li><span>Ι</span></li>
                        <li>Đội ngũ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End breadcrumbs area -->
<!--Start about hope area -->
<div class="about_hope_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="about_hope_text">
                    <h1>Chào mừng tới <strong>Shirwi, website số 1 trong lòng người thiết kế</strong></h1>
                    <p>Sách là niềm vui, là nỗi nhớ, là hạnh phúc của con người... Mỗi cuốn sách đều mang trong mình 
                    những bài học, những kỷ niệm, nỗi nhớ, yêu thương... Chúng ta cần phải biết trân trọng, giữ gìn và yêu quý những cuốn sách của mình.
                    Website này, với phương trâm, lời hứa luôn trân trọng tới khách hàng</p>
                    <ul id="about_hope_details">
                        <li><i class="fa fa-angle-right"></i> Mọi cuốn sách đều đáng quý, cũng như những chủ nhân của nó.</li>
                        <li><i class="fa fa-angle-right"></i> Luôn giữ gìn, phát triển quy mô cũng như tiện ích.</li>
                        <li><i class="fa fa-angle-right"></i> Chúng tôi mang tới hạnh phúc cho mọi người.</li>
                    </ul>
                    <div class="about_read_more">

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="about_hope_image">
                    <img src="~/Content/images/docsach.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--End about hope area -->
<!--Start skill area -->
<div class="about_skill_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="about_skills">
                    <h2>Chúng tôi có <strong> KỸ NĂNG</strong></h2>
                    <p>Luôn quan tâm tới khách hàng, luôm chăm sóc và chu toàn bổn phận của mình.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-skill-about start -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-skill-about">
                    <div class="progress-circular">
                        <input type="text" class="knob" value="1006" data-rel="50" data-linecap="round" data-width="175" data-bgcolor="#F5F5F5" data-fgcolor="#ff343b" data-thickness=".04" data-readonly="true" disabled>
                        <h4 class="progress-h4">Tổng số sách đã bán</h4>
                    </div>
                </div>
            </div>
            <!-- single-skill-about end -->
            <!-- single-skill-about start -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-skill-about">
                    <div class="progress-circular">
                        <input type="text" class="knob" value="150" data-rel="65" data-linecap="round" data-width="175" data-bgcolor="#F5F5F5" data-fgcolor="#ff343b" data-thickness=".04" data-readonly="true" disabled>
                        <h4 class="progress-h4">Lượng khách hàng hiện có</h4>
                    </div>
                </div>
            </div>
            <!-- single-skill-about end -->
            <!-- single-skill-about start -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-skill-about">
                    <div class="progress-circular">
                        <input type="text" class="knob" value="5" data-rel="85" data-linecap="round" data-width="175" data-bgcolor="#F5F5F5" data-fgcolor="#ff343b" data-thickness=".04" data-readonly="true" disabled>
                        <h4 class="progress-h4">Thử thách hiện có</h4>
                    </div>
                </div>
            </div>
            <!-- single-skill-about end -->
            <!-- single-skill-about start -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-skill-about">
                    <div class="progress-circular">
                        <input type="text" class="knob" value="2000" data-rel="90" data-linecap="round" data-width="175" data-bgcolor="#F5F5F5" data-fgcolor="#ff343b" data-thickness=".04" data-readonly="true" disabled>
                        <h4 class="progress-h4">Tổng số sách đã đầu tư</h4>
                    </div>
                </div>
            </div>
            <!-- single-skill-about end -->
        </div>
    </div>
</div>
<!--End skill area -->
<!--Start Creative Member area -->
<div class="creative_member_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="creative_member_text">
                    <h2>Nhân viên <strong> DÀY DẶN KINH NGHIỆM</strong></h2>
                    <p>Những nhân viên chủ chốt của công ty.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single_creative_member">
                    <div class="creative_author">
                        <img src="~/Content/images/Shirwi.jpg" alt="" />
                    </div>
                    <div class="member_info">
                        <span class="member_name">Shirwi</span>
                        <span class="member_role">Thủ thư</span>
                    </div>
                    <div class="member_icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <svg xml:space="preserve" enable-background="new 0 0 52 52" viewbox="0 0 52 52" height="52px" width="52px" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M51.673,0H0v51.5c0.244-5.359,3.805-10.412,7.752-13.003l36.169-23.74c4.264-2.799,7.761-8.663,7.752-14.297V0L51.673,0z" /></svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single_creative_member">
                    <div class="creative_author">
                        <img src="~/Content/images/2.jpg" alt="" />
                    </div>
                    <div class="member_info">
                        <span class="member_name">Nguyễn Thanh Ngọc</span>
                        <span class="member_role">Quản lý website</span>
                    </div>
                    <div class="member_icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <svg xml:space="preserve" enable-background="new 0 0 52 52" viewbox="0 0 52 52" height="52px" width="52px" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M51.673,0H0v51.5c0.244-5.359,3.805-10.412,7.752-13.003l36.169-23.74c4.264-2.799,7.761-8.663,7.752-14.297V0L51.673,0z" /></svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single_creative_member">
                    <div class="creative_author">
                        <img src="~/Content/images/3.jpg" alt="" />
                    </div>
                    <div class="member_info">
                        <span class="member_name">Trân Minh Thư</span>
                        <span class="member_role">Chăm sóc khách hàng</span>
                    </div>
                    <div class="member_icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <svg xml:space="preserve" enable-background="new 0 0 52 52" viewbox="0 0 52 52" height="52px" width="52px" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M51.673,0H0v51.5c0.244-5.359,3.805-10.412,7.752-13.003l36.169-23.74c4.264-2.799,7.761-8.663,7.752-14.297V0L51.673,0z" /></svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single_creative_member">
                    <div class="creative_author">
                        <img src="~/Content/images/4.jpg" alt="" />
                    </div>
                    <div class="member_info">
                        <span class="member_name">Trần Trung Trí</span>
                        <span class="member_role">Nhân viên ưu tú</span>
                    </div>
                    <div class="member_icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <svg xml:space="preserve" enable-background="new 0 0 52 52" viewbox="0 0 52 52" height="52px" width="52px" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M51.673,0H0v51.5c0.244-5.359,3.805-10.412,7.752-13.003l36.169-23.74c4.264-2.799,7.761-8.663,7.752-14.297V0L51.673,0z" /></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>