
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liên hệ</h2>

<div class="breadcrumbs-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb-single blog_top_area">
                    <ul id="breadcrumbs">
                        <li><a href="index.html"><i class="fa fa-home"></i>Trang chủ</a></li>
                        <li><span>Ι</span></li>
                        <li>Liên hệ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Start google map area -->
<div class="google_map_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- <div id="googleMap" style="width:100%;height:433px;"></div> -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3431691523842!2d106.65803931484365!3d10.78500699231571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ece965a86fd%3A0x5e0684637c7d4e5b!2zMTYvNyBDaOG6pW4gSMawbmcsIFBoxrDhu51uZyA2LCBUw6JuIELDrG5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1655385737273!5m2!1svi!2s" width="1030" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>
<!--End google map area -->
<!--Start company details area -->
<div class="company_contact_details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="get_touch">
                    <h2>Giữ liên lạc với chúng tôi</h2>
                    <p>
                        Vui lòng nhập thông tin theo mẫu. Chúng tôi sẽ liên lạc với bạn sớm nhất có thể.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="contact_us_info">
                    <input type="text" placeholder="Tên *">
                    <input type="text" placeholder="Email *">
                    <input type="text" placeholder="Tiêu đề">
                    <textarea placeholder="Nội dung *" rows="10" cols="30"></textarea>
                    <div class="controls">
                        <input type="submit" class="btn btn-large btn-primary submit" value="Xác nhận">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="company_right_area">
                    <h6>Thông tin</h6>
                    <div class="contact_addon_content">
                        <p><span><i class="fa fa-map-marker"></i></span> Công ty Shirwi 16/7 Chấn Hưng, Tân Bình, TP.HCM</p>
                        <p><span><i class="fa fa-envelope"></i></span> Shirwi@gmail.com</p>
                        <p><span><i class="fa fa-phone"></i></span> (+84) 123 45 6789</p>
                    </div>
                </div>
                <div class="company_right_hour">
                    <h6>Giờ mở cửa</h6>
                    <p>Thứ Hai &ndash; Thứ Sáu: 9g đến 20g <br> Thứ bảy &dash; Chủ Nhật: 9g đến 21g </p>
                    <div class="single_icons_contact">
                        <ul id="social_contact_icon">
                            <li><a href="https://www.facebook.com/Shirwii" class="black-tooltip s-1" title="" data-placement="top" data-toggle="tooltip" data-original-title="Follow us Facebook"><strong>Fb</strong></i> </a></li>
                            <li><a href="#" class="black-tooltip s-2" title="" data-placement="top" data-toggle="tooltip" data-original-title="Follow us Twitter"><strong>Tw</strong></i></a></li>
                            <li><a href="#" class="black-tooltip s-3" title="" data-placement="top" data-toggle="tooltip" data-original-title="Follow us Google-plus"><strong>Gg</strong></i></a></li>
                            <li><a href="#" class="black-tooltip s-4" title="" data-placement="top" data-toggle="tooltip" data-original-title="Follow us Pinterest"><strong>P</strong></i></a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>