
@{
    ViewBag.Title = "TuyenNVBanHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tuyển Nhân viên bán hàng</h2>

<div class="blog_post_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="breadcrumb-single blog_top_area">
                    <ul id="breadcrumbs">
                        <li><a href="https://localhost:44354/Home/Index"><i class="fa fa-home"></i>Trang chủ</a></li>
                        <li><span>Ι</span></li>
                        <li>Tuyển dụng</li>
                    </ul>
                </div>
                <div class="blog_details_area">
                    <div class="blog_info_details">
                        <div>Shirwi là một công ty khởi nghiệp hoạt động trong lĩnh vực Sách và quà tặng. Hiện nay, Shirwi là website có lượng cung cấp dịch vụ Sách lớn nhất Việt Nam hiện nay. Chúng tôi luôn phát triển hằng ngày để trở thành một công ty Sách chuyên nghiệp và có thương hiệu bền vững.</div>
                        <div>Hiện nay, chúng tôi cần những ứng viên có một sự đam mê, nhiệt huyết tham gia cùng chúng tôi để thực hiện những mục tiêu lớn cho ngành công nghiệp Sách tại Việt Nam. </div>
                        <br>
                        <div>
                            <table style="width: 100%; background-color: #e1f3f0;" border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div><span style="color: #ff0000; font-size: medium;"><strong>NHÂN VIÊN BÁN HÀNG (Nam/Nữ)</strong></span></div>
                                            <div><strong>Số lượng: 05</strong></div>
                                            <div><strong><img style="float: right;" title="nhân viên bán hàng" src="~/Content/images/job.png" alt="nhân viên bán hàng" width="175" height="400" /></strong></div>
                                            <div>
                                                <div><span style="text-decoration: underline;"><strong>Nơi làm việc:</strong></span>  Tân Bình, TP. HCM</div>
                                                <br>
                                                <div><strong><span style="text-decoration: underline;">Mô tả công việc:</span></strong></div>
                                                <br><br>
                                                <ul>
                                                    <li>Tư vấn, giới thiệu dịch vụ của công ty với khách hàng</li>
                                                    <li>Giải đáp thắc mắc của khách hàng</li>
                                                    <li>Tạo dựng tốt hình ảnh thương hiệu trong mắt khách hàng</li>
                                                </ul>
                                            </div>
                                            <div><span style="text-decoration: underline;"><strong>Yêu cầu:</strong></span></div>
                                            <div>
                                                <ul>
                                                    <li>Tốt nghiệp 12/12 trở lên</li>
                                                    <li>Ưu tiên các bạn có kinh nghiệm về lĩnh Sách vở.</li>
                                                    <li>Ngoại hình ưa nhìn, vui vẻ, hoạt bát</li>
                                                    <li>Yêu thích công việc liên quan đến sách</li>
                                                    <li>Biết tiếng anh là một lợi thế</li>
                                                    <li>Kỹ năng giao tiếp, thuyết phục, đàm phán và xử lý vấn đề</li>
                                                    <li>Giọng nói dễ nghe, lưu loát, hoạt bát.</li>
                                                    <li>Sử dụng thành thạo tin học văn phòng (word, excel, ppt,..)</li>
                                                    <li>Khả năng xử lý khối lượng lớn thông tin</li>
                                                    <li>Có khả năng làm việc dưới áp lực cao</li>
                                                </ul>
                                            </div>
                                            <div> <br /><span style="text-decoration: underline;"><strong>Mức lương:</strong></span> 5-8 triệu (Tùy theo năng lực).</div>
                                            <div> </div>
                                            <div>
                                                <div><span style="text-decoration: underline;"><strong>Thời gian làm việc:</strong></span></div>
                                                <ul>
                                                    <li>
                                                        Ca làm việc 8 tiếng (Nghỉ trưa 1 tiếng)
                                                        <ul>
                                                            <li>7h – 4h</li>
                                                            <li>8h – 5h</li>
                                                            <li>9h – 6h</li>
                                                            <li>12h – 9h</li>
                                                        </ul>
                                                    </li>
                                                    <li>Mỗi tuần nghỉ 1 ngày, Lịch nghỉ theo sắp xếp của công ty, có thể dồn ngày để du lịch hoặc thăm quê.</li>
                                                    <li>Một năm được 12 ngày phép.</li>
                                                </ul>
                                            </div>
                                            <div><span style="text-decoration: underline;"><strong>Quyền lợi:</strong></span></div>
                                            <div>
                                                <ul>
                                                    <li>Có cơ hội học hỏi và trải nghiệm</li>
                                                    <li>Được làm việc trong một môi trường năng động, sáng tạo</li>
                                                    <li>Lương, thưởng theo năng lực</li>
                                                    <li>Thưởng chuyên cần cuối năm (thường là 1 tháng lương)</li>
                                                    <li>Xét lương 2 lần/năm (6 tháng/lần)</li>
                                                </ul>
                                            </div>
                                            <br>
                                            <div><span style="background-color: #ffff00; color: #ff0000;"><strong>Hạn chót nộp hồ sơ</strong>: Tuyển liên tục để mở rộng, không giới hạn</span></div>
                                            <br>
                                            @Html.ActionLink("Nộp hồ sơ ngay","TuyenNVBanHang")
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="blog_right_sidebar">

                    <div class="add_r_sidebar">
                        <p class="banner_block"><a href="#"><img alt="" src="~/Content/images/6.png"></a></p>
                    </div>
                    <div class="add_r_sidebar">
                        <p class="banner_block"><a href="#"><img alt="" src="~/Content/images/6.png"></a></p>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</div>