
@{
    ViewBag.Title = "KhieuNai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thắc mắc và Khiếu nại</h2>

<div class="blog_post_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="breadcrumb-single blog_top_area">
                    <ul id="breadcrumbs">
                        <li><a href="https://localhost:44354/Home/Index"><i class="fa fa-home"></i>Trang chủ</a></li>
                        <li><span>Ι</span></li>
                        <li>Thắc mắc và Khiếu nại</li>
                    </ul>
                </div>
                <div class="blog_details_area">
                    <div class="blog_info_details">
                        <div>
                            <h1>Shirwi</h1>
                            <p>
                                <strong>Địa chỉ:</strong> 16/7 Chấn Hưng, Tân Bình, Tp.HCM<br>
                                <strong>Số điện thoại:</strong> (+84) 123 45 6789<br>
                                <strong>Email:</strong> Shirwi@gmail.com
                            </p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                            <div class="new_customer">
                                <h3>Liên hệ Shirwi:</h3>
                                <p>Vui lòng nhập thông tin theo mẫu,<br>Chúng tôi sẽ liên lạc với bạn sớm nhất có thể.</p>
                                <ul class="register_form">
                                    <li>Tên của bạn:<span></span></li>
                                    <li>
                                        <div class="email_address">
                                            <input type="text" class="email_test" />
                                        </div>
                                    </li>
                                    <li>Địa chỉ email:<span></span></li>
                                    <li>
                                        <div class="email_address">
                                            <input type="text" class="email_test" />
                                        </div>
                                    </li>
                                    <li>Số điện thoại:<span></span></li>
                                    <li>
                                        <div class="email_address">
                                            <input type="text" class="password" />
                                        </div>
                                    </li>
                                    <li>Nội dung:<span></span></li>
                                    <li>
                                        <div class="email_address">
                                            <input type="text" class="email_test" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="create_button_area">
                                <button type="submit" class="create_button">
                                    Gửi đi
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="blog_right_sidebar">

                    <div class="add_r_sidebar">
                        <p class="banner_block"><a href="#"><img alt="" src="~/Content/images/6.png"></a></p>
                    </div>
                    <div class="add_r_sidebar">
                        <p class="banner_block"><a href="#"><img alt="" src="~/Content/images/6.png"></a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>